body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    background: linear-gradient(#303030a2, #60a1f544);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.all{
    width: 100%;
    height: 100%;
    display: flex;
}
#container {
    width: 500px;
    height: 70vh;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

h1 {
    color: #1F2A44;
    margin: 0;
}

textarea[type="text"] {
    padding-left: 10px;
    padding-top: 8px;
    resize: none;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    width: 85%;
    height: 25px;
    border-radius: 20px;
    outline: none;
}

select,
button {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #60a0f5;
    color: #FFFFFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}

button:hover {
    background-color: #ee6060;
    transition: 0.3s;
}

#resposta {
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    text-align: justify;
    align-items: center;
}
.enviar{
    width: 100%;
    height: 10%;
    align-items: center;
    display: flex;
    background: #1f2a4400;
    justify-content: space-between;
}
.content-chat{
    width: 100%;
    height: 90%;
    background: #e5ebec;
    border-radius: 10px;
    overflow: auto;
    scrollbar-width: thin;
}

.historicoResposta{
    width: 98%;
}
.historicoResposta p{
    width: 85%;
    text-align: justify;
    white-space: pre-wrap;
    margin-left: 15px;
}

.historicoPergunta{
    width: 98%;
    display: flex;
    justify-content: end;
}
.historicoPergunta p{
    background: #c9c9c9;
    border-radius: 20px;
    padding: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    text-align: start;
}