body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #f0f1f9;
    overflow-x: hidden;
}
.first{
    width: 100%;
    height: 100vh;
}
.background-container {
    position: relative;
    top: 0;
    left: 35%;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    transition: left 1.5s ease;
}

.background-svg {
    width: 100%;
    bottom: 35%;
    position: absolute;
    height: 100%;
    transform: scale(2); /* Ajuste conforme necessário */
}

.header{
    width: 100%;
    position: absolute;
    height: 90px;
    top: 0;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 300px;
    height: 100%;
}
.logo img{
    width: 200px;
    position: absolute;
    top: -50px;    
    left: 10px;
}
.pote{
    width: 600px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.pote li{
    list-style: none;
    font-size: 18px;
    width: 85px;
    cursor: pointer;
    color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.pote li:hover{
    background: #fff;
    color: #000;
    transition: 0.5s;
}
.contento{
    width: 100%;
    height: 70%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 100px;
}
.amos{
    width: 500px;
    height: 350px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    

}
.amos h2{
    font-size: 80px;
}
.amos p{
    position: relative;
    text-align: justify;
    bottom: 60px;
}
.anoth{
    width: 600px;
    height: 500px;
    position: relative;
    left: 5%;
}
.anoth img{
    width: 650px;
}
.second{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.princi{
    width: 95%;
    height: 85vh;
    border-radius: 20px;
    background: #7c9cff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 20px 10px #00000033;
}
.cardo{
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 0 20px 10px #0000000a;
    background: #f0f1f9;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardo img{
    margin-top: 10px;
    width: 200px;
    height: 200px;
}
.cardo p{
    padding: 10px;
    margin-top: 50px;
    word-spacing: 5px;
    text-align: justify;
    font-size: 18px;
}
.new-header{
    width: 80%;
    height: 90px;
    border-radius: 10px;
    background: #7c9cff;
    box-shadow: 0 0 20px 10px #0000002d;
    display: flex;
    justify-content: space-between;
}
.hedo {
    width: 100%;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    position: fixed;
    z-index: 999;
    opacity: 0;
    top: 10px;
    transition: opacity 0.5s ease;
}
.imago{
    width: 300px;
    height: 100%;
    display: flex;
}
.imago img{
    width: 180px;
    height: 180px;
    position: absolute;
    bottom: -50px;
}
.optinho{
    width: 600px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.optinho li{
    color: #fff;
    list-style: none;
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: 500;
    height: 40px;
    cursor: pointer;
}
.optinho li:hover{
    background: #fff;
    transition: 0.5s;
    color: #000;
}