body {
    background-image: url("https://img.freepik.com/fotos-premium/bife-de-carne-fresca-crua-com-tomate-cereja-pimenta-alho-azeite-e-ervas_80743-1483.jpg");
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: monospace;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.principal {
    background-color:#130e0248;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    border-radius: 20px;
    border: 2px solid;
    border-color: #d3d3d3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    height: 70%;
    z-index: 2;
}

.input {
    font-family: monospace;
    border: 1px solid;
    border-radius: 15px;
    width: 50%;
    height: 30px;
    border-color: #d3d3d3;
}

h2 {
    color: #ffffff;
    font-size: 30px;
}

.button {
    font-family: monospace;
    border-radius: 20px;
    border: 1px solid;
    border-color: #3a0000;
    width: 40%;
    height: 40px;
    background-color: #870000;
    color: #e5e5e5;
    font-size: 130%;
}

.button:hover {
    background-color: #3a0000;
}


.mensagem {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    width: 85%;
    margin-top: 10px;
    margin-bottom: 15px;
}

a {
    color: #fc494f;
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 10px;
}